@import"./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Kdam+Thmor+Pro&family=Poppins:ital,wght@0,400;1,500;1,700&family=Roboto+Slab:wght@300;700&display=swap');
:root {
   --container-width:1000px;
   --container-padding:15px;
   --secondary: rgba(15,31,28,0.5);
}

body{font-family: 'Poppins', sans-serif;background-color: #F6F6F6;
color:  #0F1F1C;}
.none{display: none !important;}
.container{
   max-width: var(--container-width);margin: 0 auto;padding: 0 var(--container-padding);
}
.container-right{padding-left: calc((100% - var(--container-width))/2 + var(--container-padding)); }
.bloc{height: 200px;background-color: azure;}
/*---Header---*/
.header{position: relative; min-height: 940px;background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
   color: #FFFFFF;overflow: hidden;
padding-top: 44px;}
.header a{color:#ffff;}
.header__content{min-width: 500px;}
.header::after{
   content:"";
   position: absolute;left: 0;bottom: 0;width: 100%;height: 96px;
   background-image: url("../img/Vector\ 6.svg");
   background-size: 100%;background-repeat: no-repeat;
}
.header__top{margin-bottom: 86px;}
.nav{display: flex;justify-content: space-between;align-items: center;
   column-gap: 40px;}
.logo{font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
   }
   .nav__list{display: flex;column-gap: 80px;font-size: 15px;
line-height: 22px;cursor: pointer;}
.nav__list a{position: relative;}
.nav__list a.active::after,
.nav__list a:hover::after{
content: "";
position: absolute;left: 0;right: 10px;
bottom: -6px;
display: block;
height: 5px;background-color: #FF7B4E ;
border-radius: 50px;
}
.nav__list a:active{position: relative;top: 3px;
}
.nav__login{display: flex;column-gap: 25px;align-items: center;
   font-weight: 500;
   font-size: 15px;
   line-height: 22px;}
   .nav__toggle{display: none;}
.btn{
display: inline-block;
   background: linear-gradient(129.54deg, #FF7B4E 15.57%,
   #FF584E 95.03%), #FFFFFF;
   border-radius: 100px;
   padding: 13px 43px;
cursor: pointer;

}
.btn:hover{color: gold;transition: color 0.2s ease-in;}
.btn:active{position: relative;top: 3px;}
.header__row{display: flex;}
.header__img{position: relative;flex-grow: 1;}

.header__img img{position: absolute;max-width: unset;top: -181;  width: 840px;height: 940px;right: -180px;
}
.header__baghe{display: inline-block;font-weight: 500;
   font-size: 18px;
   line-height: 27px;padding: 11px 30px;background: rgba(255, 255, 255, 0.25);
   border-radius: 15px;margin-bottom: 7px;}
   .header__baghe:hover{color: gold;transition: color 0.2s ease-in;}
   .header__baghe:active{position: relative;top: 3px;}
   .header__title{ font-weight: 400;
      font-size: 55px;
      line-height: 82px;margin-bottom: 30px;}
      .header__text{width: 519px;
         height: 76px;
         font-weight: 700;
         font-size: 25px;
         line-height: 38px;
         color: #FFFFFF;
         opacity: 0.5;margin-bottom: 68px;}
         .header__btn{display: inline-block; font-weight: 600;
            font-size: 25px;
            line-height: 38px;padding:25px 48px
            ;background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
            border-radius: 27px
      }
      .header__btn:hover{color: gold;transition: color 0.2s ease-in;}
      .header__btn:active{position: relative;top: 3px;}
.destination{background-color: #204434;overflow: hidden;}
.destination__content{max-width:458px;margin-bottom: 100px;padding-top: 80px;}
.destination__title{font-weight: 600;
   font-size: 30px;
   line-height: 45px;color: #F6F6F6;padding-bottom: 20px;}
   .destination__text{font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 55px;
      line-height: 82px;color: #FF7B4E;padding-bottom: 15px;}
      .destination__paragrafe{font-weight: 500;
         font-size: 25px;
         color: #FFFFFF;
         opacity: 0.5;padding-bottom: 85px;}
         .destination__button{display: inline-block;font-weight: 600;
            font-size: 20px;
 background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
 border-radius: 27px;padding: 25px 45px;margin-bottom: 80px;cursor: pointer ;}
 .destination__button a{color: #F6F6F6;}
 .destination__button:hover{background: #FF7B4E; transition: color 0.2s ease-in;}
 .destination__button a:hover{color: gold;}
 .destination__button:active{position: relative;top: 3px;}
 .slider{position: relative; height: 456px;}
 .slider__item{margin-top: 27px;
   width: 335px;height: 402px;justify-self: cover;border-radius: 35px;
   transition: 0.5s ease-in;
 }
 .slider .center .slider__item{margin-top: 0;
   width: 380px;height: 456px;}
   .slider__btn{position: absolute;top: 50%;transform: translateY(-50%);z-index: 9;display: block;
   width: 68px;height: 68px;border-radius: 50%;
   display: flex;align-items: center;
   background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
   }
   .slider_btn--prev{left: 1px;
      padding-left: 26px;justify-content: flex-start;}
.slider_btn--next{right:1px;
   padding-right: 26px;justify-content: flex-end;}
   .foto{margin-top: 200px;margin-bottom: 233px;background: #E5E5E5;o}
 .foto__row{display: flex;column-gap: 10px;}
 .foto__container{width: 100%;}
 .foto__title{text-transform: uppercase;font-family: 'Poppins';
   font-style: normal;min-width: 350px;
   font-weight: 500;
   font-size: 45px;
   line-height: 68px;margin-bottom: 20px;
   margin-top: -17px;
   color: #0F1F1C;}
 .alpanasap{display: flex;background-color: #428E5F;}
 .div__text{margin-top: 50px; margin-bottom: 120px;}
 .foto__text{font-weight: 500;
   font-size: 33px;
   line-height: 50px;
   color: #0F1F1C;
   }
   .foto__p{font-weight: 400;
      font-size: 25px;
color: #0F1F1C;
opacity: 0.5;
line-height: 38px;}
.text__paragrafe{font-weight: 500;
   font-size: 22px;
   line-height: 33px;
   color: #0F1F1C;
   opacity: 0.5;}
.cta{
padding: 100px 0;
background: #FFFFFF;
border-radius: 60px;
display: flex;flex-direction: column;
align-items: center;
justify-content: center;
min-height: 580px;padding: 40px 15px;
}
.cta__plate{position: relative;}
.cta__plate::before,
.cta__plate::after{
   position: absolute;width: 63px;height: 83px;
   content: "";
}
.cta__plate::before{
   left: -4px;bottom: -6px;
   background-image: url(../img/cta-el-01.svg);
}
.cta__plate::after{
   top: -4px;right: -10px;
   background-image: url(../img/cta-el-02.svg);
}
.cta__title{font-weight: 500;
   font-size: 45px;
   line-height: 68px;
   text-align: center;
   
   color: #0F1F1C;}
   .cta__text{font-weight: 400;
   font-size: 30px;
   line-height: 45px;
   color: #0F1F1C;
   opacity: 0.5;}
   .subscribe{padding: 35px 0 50px;}
.subscribe__cotent{display: flex;flex-direction: column;align-items: center;
text-align: center;}
.subscrabe__title{margin-bottom: 60px; max-width: 494px;
font-size: 55px;font-weight: 600;}

.subscrabe__form{
display: flex;column-gap: 20px;
padding: 12px 15px 12px 46px;
background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #C4C4C4;
border-radius: 35px;
}
.subscribe-form__btn{background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
   border-radius: 35px;font-weight: 600;
   font-size: 25px;
   line-height: 38px;
   text-align: center;
   
   color: #FFFFFF;padding: 30px 87px;}
   .subscribe-form__btn:hover{color: gold;transition: color 0.2s ease-in;}
   .subscribe-form__btn:active{position: relative;top: 3px;}
   .subscribe-form__input{font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      opacity: 0.5;}
      .subscribe-form__input::placeholder{color: #0F1F1C;}
      .menu-icon-wrapper{width: 30px;height: 30px;display: flex;
      justify-content: center;align-items: center;}
.menu-icon{position: relative;
width: 30px;height: 5px;
background-color: #F6F6F6;}
.menu-icon::before{padding: absolute;left: 0;top: -10px;
content: '';
width: 30px;height: 5px;background-color: #fff;
transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
}
.menu-icon::after{
   position: absolute;left: 0;top: 10px;
   content: '';
   width: 30px;height: 5px;background-color:gold;
   transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
}
.menu-icon.menu-icon-active{
   background-color:transparent;
}
.menu-icon.menu-icon-active::before{transform: rotate(45deg);
top: 0;transition: transform 0.2s ease-in,top 0.2s linear 0.2s;}
.menu-icon.menu-icon-active::after{transform: rotate(45deg);
top: 0;   transition: transform 0.2s ease-in,top 0.2s linear 0.2s;
}
.no-scroll{overflow: hidden;}
.footer{width: 100%;height: 100%;overflow: hidden;
}
.header__top-footer{margin-bottom: 86px;margin-top: 50px;}
.nav-footer{display: flex;justify-content: space-between;align-items: center;
   column-gap: 40px;}
.logo-footer{font-weight: 700;
   font-size: 20px;
   line-height: 30px;
   }
   .logo-footer a{color: #204434;}
   .nav__list-footer{display: flex;column-gap: 80px;font-size: 15px;
line-height: 22px;cursor: pointer;}
.nav__list-footer a{position: relative;color: #FF7B4E;}
.nav__list-footer a.active::after,
.nav__list-footer a:hover::after{content: "";
   position: absolute;left: 0;right: 10px;
   bottom: -6px;
   display: block;
   height: 5px;background-color: #FF7B4E ;
   border-radius: 50px;}
.nav__list-footer a:active{position: relative;top: 3px;}
   .nav__login-footer{display: flex;align-items: center;justify-content: center;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;}
   

 @media(max-width:850px){
.nav__list{display: none;}
.nav__login{display: none;}
.nav__toggle{display: block;}
.nav--mobile{
   position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 99;
   flex-direction: column;padding-top: 40px;padding-bottom: 40px;
align-items: center;
background: linear-gradient(209deg, #428E5F -17.38%, #112120 78.4%);}
.foto__row{flex-direction: column;}
.nav--mobile .logo{font-size: 34px;}
.nav--mobile .nav__list{
   display: flex;flex-direction: column;align-items: center;row-gap: 40px;font-size: 22px;}
.nav--mobile .nav__login{ display: flex;flex-direction: column;align-items: center;row-gap: 40px;font-size: 22px;}
.nav--mobile .nav__toggle{position: fixed;top: 50px;right: 50px;}
.header__row{flex-direction: column;}
.header__img img{position: static;width: 70%;height: auto;}
.foto{margin-top: 20px;}

 }
 @media(max-width:800px){
   .header__title{margin-bottom: 20px;font-size: 30px;line-height: 50px;}
   .header__text{margin-bottom: 40px;font-size: 20px;max-width: 300px;}
   .header__baghe{margin-bottom: 5px;padding: 8px 20px;font-size: 16px;background-repeat: 10px;}
   .header__btn{padding: 20px 30px;font-size: 20px;border-radius: 18px;}
 .header{padding-top: 20px;
   min-height: unset;}
 .header__top{margin-bottom: 40px;}
 .destination{padding: 40px 10px 50px;}
 .destination__text {
   font-size: 35px;
   line-height: 50px;
   padding-bottom: 5px;
}.destination__title {
   margin-bottom: 10px;
   font-size: 20px;
   line-height: 30px;
   padding-bottom: 10px;
}
.destination__title span{font-size: 20px;display: block;}
.destination__content {
   margin-bottom: 60px;
   padding-top: 30px;}
.destination__paragrafe{max-width: 300px;padding-bottom: 30px;}
.slider{height: auto;}
.destination__slider{width: 800px;}
.slider .slider__item{width: 335px;height: 400px;}
.slider .center .slider__item{margin-top: 0;width: 380px;height: 456px;}
.slider_btn--prev{left: -15px;}
.slider_btn--next{right:-15px;}
.destination__button{font-size: 18px;padding: 20px 35px;}
.alpanasap{margin-bottom: 20px;}
.foto__container{margin-bottom: -250px;}
.cta__title {
   font-size: 30px;
   line-height: 35px;}
   .cta__plate::after {
   top: -80px;}
.foto__container{margin-bottom: -250px;}
.cta__title {
   font-size: 30px;
   line-height: 35px;}
   .cta__plate::after {
   top: -80px;}
   .destination__button{margin-bottom: 20px;}
   .subscrabe__title {
      font-size: 30px;
}
.cta__plate::before {
   left: -4px;
   bottom: -86px;
 }
 .subscribe-form__btn {
   padding: 10px 20px;}
   .subscribe-form__input{border: 4px solid #FF7B4E;border-radius: 35px;}
   .subscribe-form__input {
      font-size: 14px;
}}
@media(max-width:500px){
   
.nav--mobile .nav__toggle{top: 20px;right: 15px;}
.nav--mobile .nav__list,
.nav--mobile .nav__login{row-gap: 30px;}
.destination__slider{width: 100%;}
.slider .slider__item{margin-top: 18px;  width: 223px;height: 268px;}
.slider .center .slider__item{margin-top:0;width: 353px;height: 304px;}
.destination__content {
   margin-bottom: 10px;}
   .foto__title {
      font-size: 30px;
      line-height: 50px;} 
.foto__text{font-size: 20px;}
.foto__p {
   font-size: 15px;
   line-height: 10px;}
.text__paragrafe {
   font-size: 15px;
   line-height: 25px;}
   .subscrabe__form {flex-direction: column;
      column-gap: 20px;
      padding:15px 0;
      border-radius: 20px;}
.subscribe-form__input{padding: 15px 0px;background-color: #8B8B8B;}
      .nav-footer{flex-direction: column-reverse;  row-gap: 30px;}
   .nav__list-footer{padding: 10px;}}